/* Regular */
@font-face {
	font-family: 'Roboto';
	src: url('fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-Regular.woff?v=1') format('woff'),
	url('fonts/Roboto-Regular.ttf?v=1')  format('truetype'),
	url('fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Roboto-Light */
@font-face {
	font-family: 'Roboto-Light';
	src: url('fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-Light.otf?v=1')  format('opentype'),
	url('fonts/Roboto-Light.woff?v=1') format('woff'),
	url('fonts/Roboto-Light.ttf?v=1')  format('truetype'),
	url('fonts/Roboto-Light.svg#Roboto-Light') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Medium */
@font-face {
	font-family: 'Roboto-Medium';
	src: url('fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-Medium.woff?v=1') format('woff'),
	url('fonts/Roboto-Medium.ttf?v=1')  format('truetype');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Bold */
@font-face {
	font-family: 'Roboto-Bold';
	src: url('fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-Bold.woff?v=1') format('woff'),
	url('fonts/Roboto-Bold.ttf?v=1')  format('truetype'),
	url('fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* Black */
@font-face {
	font-family: 'Roboto-Black';
	src: url('fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-Black.woff?v=1') format('woff'),
	url('fonts/Roboto-Black.ttf?v=1')  format('truetype'),
	url('fonts/Roboto-Black.svg#Roboto-Black') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

/* BlackItalic */
@font-face {
	font-family: 'Roboto-BlackItalic';
	src: url('fonts/Roboto-BlackItalic.eot?#iefix') format('embedded-opentype'),
	url('fonts/Roboto-BlackItalic.woff?v=1') format('woff'),
	url('fonts/Roboto-BlackItalic.ttf?v=1')  format('truetype'),
	url('fonts/Roboto-BlackItalic.svg#Roboto-BlackItalic') format('svg');
	font-weight: normal;
	font-style: normal;
	text-rendering: optimizeLegibility;
}