@media only screen and (max-width: 991px) {
	.search form input[type="text"] {width: 140px;}
	.statistics .box {padding: 18px 20px 0;}
	.statistics .box .count {width: 220px;}
	.blog article .bottom {position: relative; left: 0; margin-top: 20px;}
	.addpost {width: 100%;}
	.addpost .form .lbl {line-height: 1; margin-bottom: 10px;}
	.addpost .form .row {margin-bottom: 20px;}
	#map {height: 300px;}
	/*.category_list .box .subblock,.search_category  {padding: 20px;}*/
	.category_list .box .subblock ul li a,.search_category ul li a {font-size: 14px;}
	.rules_video .box {padding-bottom: 30px;}
	.rules_video .text {position: relative;top: 0;left: 0;right: 0;transform: translateY(0);margin-top: 25px;}
	.footer_menu a {margin-right: 50px;}
	.product_gallery {margin-bottom: 25px;}
}

@media only screen and (max-width: 767px) {
	.header_inner {height: 80px; padding: 25px 5px 0;}
	.btn_menu {display: block;}
	.logo {width: 65px;}
	.header_top {display: none;}
	.header_menu a {font-size: 0px; margin-top: 5px; margin-right: 10px;}
	.header_menu a i {margin-right: 0;}
	.header_menu a.btn_new {width: 30px; height: 30px; padding: 0;font-size: 0px; background-position: center; background-size: 15px;}
	.popup_inner {width: 100%; height: 100vh; max-height: 100vh; top: 0; left: 0; transform: translate(0, 0) scale(0.8,0.8); padding: 30px 15px; border: none; border-radius: 0;}
	.popup_inner.show {transform: translate(0, 0) scale(1,1);}
	#main_wrapper {padding: 0 5px;}
	.statistics {padding: 0 15px; margin: 0 -15px;}
	.statistics .box {width: calc((100% - 10px) / 2);height: 80px; padding: 9px 0 0; border: none!important;}
	.statistics .box:last-child {float: right;}
	.statistics .box .text {width: 100%; margin-bottom: 7px; font: 13px/1 Roboto, sans-serif; text-align: center; padding: 0;}
	.statistics .box .text br {display: none;}
	.statistics .box .count {width: 100%; height: 34px; font: 15px/34px Roboto-Bold, sans-serif;}
	.search {padding: 20px 0 15px;}
	.search form {background: transparent; border: 0;}
	.search form input[type="text"] {width: 100%; height: 40px; padding: 0 14px; background: #fff; border: 1px solid #19814A; border-radius: 5px;}
	.search .price {width: 100%; margin: 10px 0 0; background: #fff; border: 1px solid #19814A; border-radius: 5px;}
	.search .price span {width: 100px; height: 38px; margin: 0; padding: 0 5px; font-size: 13px; line-height: 38px; color: rgba(0,0,0,0.9); text-align: center; border-right: 1px solid #19814a;}
	.search .price input[type="text"] {width: calc((100% - 101px) / 2); height: 38px; font-size: 14px; line-height: 14px; background: none; border: none;}
	.search .price em.line {width: 1px; height: 24px; margin: 8px 0 0; background: #A7A7A7;}
	.search select {width: calc((100% - 10px) / 2); height: 40px; padding: 0 14px; background-color: #fff; background-position: right 15px center; background-size: 10px; border: 1px solid #19814A; border-radius: 5px;}
	.search button[type="submit"] {position: relative; top: 0; right: 0; left: 0; width: 100%; height: 40px; margin-top: 10px; font-size: 17px;}
	.store_list_head .create_store_btn {display: none;}
	.visible-xs .create_store_btn {width: 100%;}
	.store_list_head h1 {font-size: 20px; line-height: 1;}
	.store_list_head a.get_all {margin: 0;}
	.footer_menu {display: none;}
	#footer {padding: 25px;}
	#footer p {width: 100%; margin-bottom: 10px;}
	#footer p:last-child {margin-bottom: 0;}
	.blog {padding-bottom: 40px;}
	.blog article {margin-bottom: 25px; padding-bottom: 25px;}
	.conditions {width: 100%; margin-bottom: 20px;}
	.rules,.contact,.faq,.pdf_list,.favorites,.offer_form,.terminologiya,.news_detail {padding-bottom: 30px;}
	.faq .item .head h2 {font-size: 13px;}
	.offer_form_inner {padding: 40px 15px;}
	.offer_form_inner .radiobox {float: left; padding: 0; margin-bottom: 20px;}
	.letters a {font-size: 16px; margin-bottom: 7px;}
	.terminologiya .list li {margin-bottom: 15px;}
	.terminologiya .list li a {font-size: 14px; line-height: 1.2;}
	#newsgallery .owl-nav {position: relative; margin-top: 30px; text-align: center;}
	#newsgallery .owl-nav div {position: relative; margin: 0 10px; font-size: 50px; top: 0; left: 0!important; right: 0!important; transform: translateY(0); display: inline-block;}
	.detail h1.head_title {font: 16px/1 Roboto, sans-serif;}
	.detail h1.title {font-size: 18px;}
	.detail span.product_price {font-size: 20px;}
	.carousel-stage li {width: calc(100vw - 30px);}
	.carousel-navigation {display: none;}
	.stage a.prev-stage, .stage a.next-stage {display: block!important;}
	.product_head h1 {font-size: 20px;}
	.category_list .box .subblock  ul,.search_category ul {-webkit-column-count: 2;-moz-column-count: 2;column-count: 2;}
	.error404 span {font-size: 150px;}
	.addpost {padding: 0; background: transparent; border: 0;}
	.addpost h1,.faq h1,.blog h1 {font-size: 17px; text-align: left; margin-bottom: 20px;}
	.addpost .form .row {margin-bottom: 0;}
	.addpost .form .row .col-xs-12,.faq .item {margin-bottom: 20px;}
	.addpost .form button[type="submit"] {float: left;}
	.addpost .conditions {margin: 0;}
	.store_info .col {padding: 0 20px;}
	.account {padding-bottom: 50px;}
	.account_menu {margin-top: 12px;}
	.account_content_inner {padding: 0 20px;}
	.fixed_bottom_btn {display: block;}
}

@media only screen and (max-width: 480px) {
	.col-mob-12 {width: 100%;}
	.col-mob-6 {width: 50%;}
	.footer_bottom p {width: 100%; margin-bottom: 5px;}
	.rules .box {margin-bottom: 15px;}
	.rules .box h4.title {font-size: 14px;}
	.rules .box .text ul li {font-size: 12px;}
	.pdf_list article {margin-bottom: 30px;}
	.pdf_list article p{font-size: 12px; line-height: 17px;}
	.user_info .ipt_style {width: 100%;}
	.success_page_inner {padding: 50px 20px;}
	.success_page_inner i {width: 60px; height: 60px;}
	.success_page_inner h4 {font-size: 25px;}
	.store_detail {left: -15px; right: -15px; width: calc(100% + 30px);}
	.store_info {padding: 15px;}
	.store_logo {position: relative; top: 0; left: 0; margin: 0; float: left; width: 70px; height: 70px; background: #F1F1F1; padding: 2px;}
	.store_info .col {width: calc(100% - 70px); margin: 0; padding: 0 0 0 15px;}
	.store_info .col h1 {font-size: 14px;}
	.store_info .col p.desc {font-size: 12px; line-height: 15px;}
	.store_info .col:last-child {width: 100%; margin-top: 15px; padding: 15px 0 0;}
	.store_info .col:last-child:after {width: 100%; height: 1px; top: 0;}
	.store_menu {display: none;}
	.product_head .filter {width: 100%;}
	.account_menu a {font-size: 14px;}
	.detail ul.info {-webkit-column-count: 1; -moz-column-count: 1; column-count: 1;}
	.detail span.view,.detail .add_favorite {margin-right: 10px;}
	.service_action li {width: 100%; margin: 0 0 15px;}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.mobile_category {display: none!important;}
	.carousel-stage li {width: 730px;}
	.carousel-navigation li {width: calc((730px - 60px) / 4)}
	.category_list .box .subblock  ul li {width: calc(100% / 3);}
	.category_list .box .subblock  ul li:nth-child(3n+1) {padding-left: 0;}
	.category_list .box .subblock  ul li:nth-child(3n) {border: 0;}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.container {width: 960px;}
	.mobile_category {display: none!important;}
	.search form input[type="text"] {width: 385px;}
	.carousel-stage li {width: 460px;}
	.carousel-navigation li {width: calc((460px - 60px) / 4)}
	.category_list .box .subblock  ul li:nth-child(4n+1) {padding-left: 0;}
	.category_list .box .subblock  ul li:nth-child(4n) {border: 0;}
}

@media only screen and (min-width:1200px) {
	.container {width: 960px;}
	.mobile_category {display: none!important;}
	.category_list .box .subblock  ul li:nth-child(4n+1) {padding-left: 0;}
	.category_list .box .subblock  ul li:nth-child(4n) {border: 0;}
}
