/*
 * Aqrobazar
 * @author Marcom
 * @front-end Rovshen Shirinzade
 */

html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
html, body {min-height: 100vh;}

body {
	background: #EEF8FF;
	font-size: 100%;
	font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	padding-bottom: 90px;
}

a, a:active , a:focus {
	outline: 0;
	text-decoration: none;
	color: #333;
}

a:hover {
	color: inherit;
	outline: 0;
	text-decoration: none;
}

* {
	outline: none;
}

img {
	max-width: 100%;
}

.noscroll {overflow: hidden;}

.m0 {margin: 0!important;}
.mt0 {margin-top: 0px!important;}
.mt5 {margin-top: 5px!important;}
.mt10 {margin-top: 10px!important;}
.mt15 {margin-top: 15px!important;}
.mt20 {margin-top: 20px!important;}
.mt25 {margin-top: 25px!important;}
.mt30 {margin-top: 30px!important;}
.mt40 {margin-top: 40px!important;}
.mt60 {margin-top: 60px!important;}
.mt110 {margin-top: 110px!important;}
.mr15 {margin-right: 15px!important;}
.mb0 {margin-bottom: 0px!important;}
.mb5 {margin-bottom: 5px!important;}
.mb10 {margin-bottom: 10px!important;}
.mb20 {margin-bottom: 20px!important;}
.mb25 {margin-bottom: 25px!important;}
.mb30 {margin-bottom: 30px!important;}
.mtb5 {margin: 5px 0!important;}
.no-padding {padding: 0!important;}
.p20 {padding: 20px!important;}
.pt0 {padding-top: 0!important;}
.pt15 {padding-top: 15px!important;}
.pt50 {padding-top: 50px!important;}
.pl0 {padding-left: 0!important;}
.pl25 {padding-left: 25px!important;}
.pr0 {padding-right: 0!important;}
.pb10 {padding-bottom: 10px!important;}
.pb30 {padding-bottom: 30px!important;}
.pb50 {padding-bottom: 50px!important;}
.pb80 {padding-bottom: 80px!important;}
.ptb50 {padding: 50px 0!important;}

.vertical-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

.container {
	position: relative;
	padding-left: 10px;
	padding-right: 10px;
}

.row {
	margin-left: -10px;
	margin-right: -10px;
}

.row [class*="col-"] {
	padding-left: 10px;
	padding-right: 10px;
}
.topbanner .row{
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}
.topbanner .row .col-md-6{
	display: flex;
	overflow: hidden;
	justify-content: flex-end;
	padding-left: 0;
	padding-right: 0;
}
.topbanner .row .col-md-6:last-child{
	justify-content: flex-start;
	padding-left: 1px;
}
.topbanner .row .col-md-6 img{
	max-width: none;
}
@media (max-width: 768px) {
	.topbanner .row .col-md-6:last-child{
		display: none;
	}
}

/* Header Begin */
#header {
	position: relative;
	background: #19814a;
}

.header_top {
	position: relative;
	height: 60px;
	background: #333;
}

.topmenu {
	padding-top: 22px;
}

.topmenu a {
	float: left;
	margin-right: 25px;
	font: 16px/16px Roboto, sans-serif;
	color: #fff;
	opacity: 0.85;
	transition: opacity 600ms ease;
}

.social {
	float: left;
	padding-top: 18px;
}

.social a {
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 15px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 1;
	transition: opacity 600ms ease;
}

.social a.facebook {background-image: url(../images/icon/icon-social-facebook.svg);}
.social a.instagram {background-image: url(../images/icon/icon-social-instagram.svg);}

.social a:hover {opacity: 0.8;}

.topmenu a:last-child,.social a:last-child {margin-right: 0;}
.topmenu a:hover,.call_center:hover,.lang select:hover {opacity: 1;}

.lang {
	float: left;
	margin-left: 40px;
}

.lang select {
	width: 37px;
	height: 22px;
	margin-top: 10px;
	font: 14px/22px Roboto, sans-serif;
	color: #fff;
	opacity: 0.85;
	cursor: pointer;
	background: url(../images/arrow/lang-arrow.svg) no-repeat right center;
	background-size: 12px;
	border: none;
	transition: opacity 600ms ease;
}

.lang select option {
	color: #000;
}

.call_center {
	float: left;
	margin: 22px 15px 0 0;
	font: 16px/16px Roboto, sans-serif;
	color: #fff;
	opacity: 0.85;
	transition: opacity 600ms ease;
}

.call_center:hover {
	color: #fff;
	opacity: 1;
}

.header_inner {
	padding: 20px 0;
}

.btn_menu {
	display: none;
	float: left;
	width: 22px;
	height: 15px;
	margin: 7px 20px 0 0;
	padding: 0;
	background: url(../images/icon/icon-menu.svg) no-repeat center;
	background-size: 100%;
	border: none;
}

.logo {
	float: left;
}

.header_menu {
	float: right;
}

.header_menu a {
	position: relative;
	float: left;
	margin-top: 10px;
	margin-right: 20px;
	font: 16px/20px Roboto, sans-serif;
	color: #fff;
	transition: 600ms ease;
}

.header_menu a i.icon {
	position: relative;
	float: left;
	width: 22px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 7px;
}

.header_menu a i.icon.icon-user {background-image: url(../images/icon/icon-menu-user.svg);}
.header_menu a i.icon.icon-favorite {background-image: url(../images/icon/icon-menu-favorite.svg);}
.header_menu a i.icon.icon-exit {background-image: url(../images/icon/icon-menu-exit.svg);}

.header_menu a:hover {opacity: 0.85;}

.header_menu a.btn_new {
	float: left;
	height: 41px;
	margin-top: 0;
	padding: 0 10px 0 40px;
	font: 14px/41px Roboto, sans-serif;
	color: #19814A;
	background: #fff url(../images/icon/icon-plus-circle.svg) no-repeat left 10px center;
	background-size: 21px;
	border-radius: 5px;
}

.header_menu a.btn_new:hover {
	background-color: #fff;
}

.header_menu a:last-child {margin-right: 0;}
/* Header End */

/* Statistics Begin */
.statistics {
	position: relative;
	background: #309E64;
}

.statistics .box {
	float: left;
	width: 50%;
	height: 87px;
	padding: 18px 60px 0 63px;
}

.statistics .box:first-child {border-right: 1px solid rgba(119,216,166,.2);}
.statistics .box:last-child {border-left: 1px solid rgba(119,216,166,.2);}

.statistics .box .count {
	float: left;
	display: block;
	width: 250px;
	height: 50px;
	font: 27px/50px Roboto-Bold, sans-serif;
	color: #406B55;
	text-align: center;
	background: #fff;
	border-radius: 5px;
}

.statistics .box .text {
	float: right;
	padding-top: 1px;
	font: 18px/1.3 Roboto, sans-serif;
	color: #fff;
}
/* Statistics End */

/* Search Begin */
.search {
	position: relative;
	padding-top: 31px;
}

.search form {
	position: relative;
	overflow: hidden;
	background: #fff;
	border: 1px solid #19814A;
	border-radius: 5px;
}

.search form input[type="text"] {
	float: left;
	display: block;
	width: 280px;
	height: 39px;
	padding: 0 20px;
	font: 13px/13px Roboto-Light, sans-serif;
	color: rgba(0,0,0,0.9);
	letter-spacing: 0.5px;
	background: none;
	border: none;
}

.search form input[type="text"]::-webkit-input-placeholder {color: rgba(0,0,0,0.9);}
.search form input[type="text"]::-moz-placeholder {color: rgba(0,0,0,0.9);}

.search .price {
	position: relative;
	float: left;
	margin-top: 8px;
	margin-right: 15px;
	border-left: 1px solid rgba(112,112,112,0.2);
}

.search .price span {
	float: left;
	height: 25px;
	margin: 0 15px;
	font: 14px/25px Roboto, sans-serif;
	color: rgba(0,0,0,0.9);
}

.search .price em.line {
	float: left;
	width: 11px;
	height: 1px;
	background: #333;
	margin: 12px 5px 0;
}

.search .price input[type="text"] {
	float: left;
	width: 90px;
	height: 25px;
	padding: 0 5px;
	font: 13px/13px Roboto-Light, sans-serif;
	color: #858585;
	text-align: center;
	background: #fff;
	border: 1px solid #707070;
	border-radius: 3px;
}

.search .price input[type="text"]::-webkit-input-placeholder {color: #858585;}
.search .price input[type="text"]::-moz-placeholder {color: #858585;}

.search select {
	float: left;
	width: 130px;
	height: 25px;
	padding: 0 20px;
	margin-top: 8px;
	font: 14px/14px Roboto, sans-serif;
	color: rgba(0,0,0,0.85);
	cursor: pointer;
	background: url(../images/arrow/arrow-down.svg) no-repeat right 0 center;
	background-size: 15px;
	border: none;
	border-left: 1px solid #d1d1d1;
}

.search button[type="submit"] {
	position: absolute;
	top: -1px;
	right: -1px;
	bottom: -1px;
	float: left;
	display: block;
	min-width: 85px;
	padding: 0 5px;
	font: 15px/1 Roboto, sans-serif;
	color: #fff;
	background: #19814a;
	border: none;
	border-radius: 5px;
	transition: background 600ms ease;
}

.search button[type="submit"]:hover {
	background: #14693b;
}

.search_category  {
	position: relative;
	padding: 40px 40px 25px;
	background: #fff;
	border: 1px solid #19814a;
	border-radius: 5px;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.search_category.brd {
	border-color: #e5e5e5;
}

.search_category  ul {
	margin: 0;
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}

.search_category  ul li {
	margin-bottom: 25px;
}

.search_category  ul li a{
	font: 20px/1 Roboto, sans-serif;
	color: rgba(0,0,0,.85);
	transition: color 600ms ease;
}

.search_category  ul li a span {
	font-family: Roboto-Light, sans-serif;
}

.search_category  ul li a span,
.search_category  ul li a:hover {
	color: #19814a
}
/* Search End */

/* CategoryList Begin */
.category_list {
	position: relative;
	padding: 25px 0 10px;
}

.category_list .col-md-2 {
	position: static!important;
}

.category_list .box {
	position: static;
	margin-bottom: 40px;
}

.category_list .box>a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	padding-bottom: 5px;
}

.category_list .box figure {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	padding: 5px;
	line-height: 70px;
	text-align: center;
	background: #fff;
	border-radius: 50%;
	transition: box-shadow 0.5s ease, background 600ms ease;
}

.category_list .box>a:hover figure {
	box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
}

.category_list .box a.active figure {
	background: #19814A;
	box-shadow: 3px 3px 4px 0px rgba(25,129,74,0.41);
}

.category_list .box>a.active figure svg mask,
.category_list .box>a.active figure svg path,
.category_list .box>a.active figure svg polygon {
	fill: #fff;
}

.category_list .box figure img {
	max-height: 40px;
}

.category_list .box figure svg {
	height: 70px;
}

.category_list .box h2 {
	margin: 10px 0 0;
	font: 13px/1.2 Roboto, sans-serif;
	color: rgba(0,0,0,0.9);
	text-align: center;
}

.category_list .box .subblock {
	display: none;
	position: absolute;
	left: 10px;
	right: 10px;
	z-index: 1000;
	padding: 0;
	background: #fff;
	border: 1px solid #19814A;
	border-radius: 5px;
}

.category_list .box .subblock .subblock_head {
	display: flex;
	border-bottom: 1px solid #19814A;
}

.category_list .box .subblock .subblock_head a {
	flex-grow: 1;
	flex-basis: 0;
	font: 17px/46px Roboto, sans-serif;
	color: #19814A;
	text-align: center;
	border-right: 1px solid #19814A;
}

.category_list .box .subblock .subblock_head a.active {
	background: #19814A;
	color: #fff;
}

.category_list .box .subblock .subblock_head a:last-child {
	border: 0;
}

.category_list .box .subblock .inner {
	padding: 25px 20px;
}

.category_list .box .subblock .inner .tabblock {
	display: none;
}

.category_list .box .subblock .inner .tabblock:first-child {
	display: block;
}

.category_list .box .subblock  ul {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.category_list .box .subblock  ul li {
	width: 25%;
	padding: 7px 20px;
	border-right: 1px solid #ccc;
}

.category_list .box .subblock  ul li a {
	display: flex;
	justify-content: space-between;
	font: 13px/1 Roboto, sans-serif;
	color: #000;
	transition: color 600ms ease;
}

.category_list .box .subblock  ul li a span {
	font-family: Roboto-Light, sans-serif;
}

.category_list .box .subblock  ul li a span,
.category_list .box .subblock  ul li a:hover {
	color: #19814a
}
/* CategoryList End */

/* Products Begin */
.product_section {
	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 10px;
}

hr {
	margin: 0;
	border-color: rgba(112,112,112,0.5);
}

.product_section.nobrd {
	border: 0;
}

.product_section:first-child {
	margin-top: 0;
	padding-top: 0;
}

.product_section:last-child {padding-bottom: 0;}

.product_head {
	padding: 0 0 25px;
}

.product_head h1 {
	float: left;
	margin: 0;
	font: 22px/1 Roboto-Medium, sans-serif;
	color: rgba(0,0,0,.85);
}

.lh44 {line-height: 44px!important;}

.product_head span.count {
	float: left;
	margin-left: 20px;
	font: 14px/22px Roboto, sans-serif;
	color: #2B95F2;
}

.product_head .filter {
	position: relative;
	float: right;
	width: 180px;
	height: 44px;
	padding: 0 40px 0 16px;
	font: 14px/14px Roboto, sans-serif;
	color: #333;
	cursor: pointer;
	background: #fff url(../images/arrow/arrow-select-down.svg) no-repeat right 15px center;
	background-size: 13px;
	border: 1px solid #3B3B3B;
	border-radius: 5px;
}

.product_head a.get_all {
	float: right;
	font: 16px/22px Roboto, sans-serif;
	color: #2B95F2;
	text-decoration: underline;
}

.product_head a.get_all:hover {
	text-decoration: none;
}

.product_list .head_title {
	margin: 15px 0 25px;
	font: 22px/1 Roboto-Medium, sans-serif;
	color: rgba(0,0,0,0.85);
}

.product_list .box {
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	background: #fff;
	border-radius: 5px;
}

.product_list .box .banner {
	position: relative;
	width: 100%;
	height: 100%;
}

.product_list .box .banner img {
	width: 100%;
	height: 100%;
}

.product_list .box .hover {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	background: rgba(51,51,51,0.7);
	opacity: 0;
	visibility: hidden;
	transform: scale(0.8,0.8);
	transition: 0.3s ease;
}

.product_list .box:hover .hover {
	opacity: 1;
	visibility: visible;
	transform: scale(1,1);
}

.product_list .box .hover div {
	position: relative;
	height: 50%;
}

.product_list .box .hover div button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	padding: 0;
	font: 16px/16px Roboto, sans-serif;
	color: #fff;
	background: none;
	border: none;
}

.product_list .box .hover div button i {
	display: block;
	width: 32px;
	height: 32px;
	margin: 0 auto 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.product_list .box .hover div button i.delete {
	background-image: url(../images/icon/icon-delete.svg);
}

.product_list .box .hover div button i.edit {
	background-image: url(../images/icon/icon-edit.svg);
}

.product_list .box figure {
	position: relative;
}

.product_list .box figure img {
	width: 100%;
}

.product_list .box span.price {
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 5;
	display: block;
	min-width: 100px;
	height: 30px;
	font: 13px/30px Roboto-Bold, sans-serif;
	color: #fff;
	text-align: center;
	background: #5FBB46;
	border-radius: 0 5px 0 0;
}

.product_list .box figure span.icon-star {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 10;
	display: block;
	width: 20px;
	height: 20px;
	background: url(../images/icon/icon-star-active.svg) no-repeat center;
}

.product_list .box .body {
	min-height: 100px;
	padding: 10px 15px 35px 15px;
}

.product_list .box .product_name {
	margin: 0;
	font: 16px/1.2 Roboto, sans-serif;
	color: #333;
}

.product_list .box ul {
	margin: 10px 0 0;
}

.product_list .box ul li {
	margin-bottom: 5px;
	padding: 0;
	font: 11px/1.1 Roboto, sans-serif;
	color: #848484;
}

.product_list .box .body .bottom {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
	padding: 0 15px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #fff;
}

.product_list .box .body .bottom .pull-right {
	display: flex;
	align-items: center;
	margin-left: auto;
}

.product_list .box figure img.flag {
	width: 25px;
	height: 25px;
}

.product_list .box .body .bottom span.date {
	float: left;
	display: block;
	font: 11px/17px Roboto, sans-serif;
	color: #848484;
}

button.icon-favorite, .product_list .box .body .bottom span.icon-favorite {
	width: 17px;
	height: 16px;
	margin-left: 10px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../images/icon/icon-favorite.svg);
	background-size: 17px;
	border:none;
}

button.icon-favorite.active, .product_list .box .body .bottom span.icon-favorite.active {background-image: url(../images/icon/icon-favorite-active.svg);}

/* Products End */

/* Footer Begin */
#footer {
	padding: 24px 0;
	z-index: 9;
	background: #333;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.footer_menu {
	margin-bottom: 20px;
}

.footer_menu a {
	float: left;
	margin-right: 85px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: rgba(255,255,255,0.85);
	transition: color 400ms ease;
}

.footer_menu a:hover {
	color: #fff;
}

.footer_menu a:last-child {
	float: right;
	margin-right: 0;
}

#footer p {
	margin: 0;
	font: 13px/13px Roboto-Light, sans-serif;
	color: rgba(255,255,255,0.85);
}

#footer p a {
	font-family: Roboto-Bold, sans-serif;
	color: rgba(255,255,255,0.85);
	transition: color 600ms ease;
}

#footer p a:hover {
	color: #fff;
}
/* Footer End */

/* Popup Begin */
.popup {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 9999;
	background: rgba(0,0,0,0.6);
	opacity: 0;
	visibility: hidden;
	transition: 0.3s ease;
}

.popup.show {
	opacity: 1;
	visibility: visible;
}

.popup_inner {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	transform: translate(-50%, -50%) scale(0.8,0.8);
	width: 460px;
	max-height: 90vh;
	padding: 30px 60px;
	overflow-y: auto;
	background: #fff;
	opacity: 0;
	visibility: hidden;
	border-radius: 5px;
	transition: 0.5s ease;
}

.popup_inner.show {
	opacity: 1;
	visibility: visible;
	transform: translate(-50%, -50%) scale(1,1);
}

.popup_inner span.btn_close {
	display: block;
	width: 18px;
	height: 18px;
	cursor: pointer;
	background: url(../images/icon/icon-close.svg) no-repeat center;
	background-size: 100%;
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 20;
}

.popup_inner h1 {
	margin: 0 0 15px;
	font: 16px/1 Roboto-Bold, sans-serif;
	color: #333;
	text-align: center;
}

.lr_wrapper .ipt_group {
	position: relative;
	margin-bottom: 20px;
}

.lr_wrapper .ipt_group .get_link {
	display: block;
	padding-top: 5px;
	padding-bottom: 20px;
}

.lr_wrapper .ipt_group .get_link a {
	font: 12px/1 Roboto, sans-serif;
	color: #4E5154;
	text-decoration: underline;
}

.lr_wrapper .ipt_group .get_link a:hover {
	text-decoration: none;
}

.lr_wrapper .ipt_group p {
	margin: 5px 0 0;
	font: 15px/1 Roboto, sans-serif;
	color: #333;
}

.lr_wrapper .ipt_group p.clr {color: #333;}

.lr_wrapper .ipt_group p a {color: #2B95F2; text-decoration: underline;}
.lr_wrapper .ipt_group p a:hover {text-decoration: none;}

.lr_wrapper .ipt_style {
	display: block;
	width: 100%;
	height: 34px;
	padding: 0 50px 0 20px;
	font: 13px/13px Roboto, sans-serif;
	color: #333;
	background: #fff;
	border: 1px solid #B9B9B9;
	border-radius: 4px;
}

.lr_wrapper .ipt_style::-webkit-input-placeholder {color: #bbb;}
.lr_wrapper .ipt_style::-moz-placeholder {color: #bbb;}

.lr_wrapper .ipt_style.email {background: #fff url(../images/icon/icon-ipt-email.svg) no-repeat right 20px center;}
.lr_wrapper .ipt_style.password {background: #fff url(../images/icon/icon-ipt-password.svg) no-repeat right 20px center;}
.lr_wrapper .ipt_style.user {background: #fff url(../images/icon/icon-ipt-user.svg) no-repeat right 20px center;}
.lr_wrapper .ipt_style.phone {background: #fff url(../images/icon/icon-ipt-phone.svg) no-repeat right 20px center;}

.lr_wrapper select.ipt_style {
	background: url(../images/arrow/arrow-select-down.svg) no-repeat right 10px center;
	background-size: 10px;
	cursor: pointer;
}

.lr_wrapper textarea.ipt_style {
	height: 120px;
	padding: 15px 20px;
	resize: none;
}

.lr_wrapper button[type="submit"] {
	float: right;
	display: block;
	min-width: 100px;
	height: 34px;
	padding: 0 10px;
	font: 13px/13px Roboto, sans-serif;
	color: #fff;
	background: #19814a;
	border: none;
	border-radius: 5px;
	transition: background 600ms ease;
}

.lr_wrapper button[type="submit"]:hover {
	background: #14693b;
}

.lr_wrapper button[type="submit"].center {
	float: none;
	margin: 0 auto;
}

.lr_wrapper .bottom {
	padding-top: 15px;
}

.lr_wrapper .bottom a {
	font: 14px/14px Roboto, sans-serif;
	color: #505050;
	text-decoration: underline;
}

.lr_wrapper .bottom a:hover {
	text-decoration: none;
}

.radiobox.dblock input[type=radio].css-checkbox + label.css-label {
	float: none;
	width: 100%;
	height: 20px;
	margin-bottom: 15px;
	padding-left: 25px;
	font-size: 13px;
	line-height: 20px;
	color: #333;
	background-position: left center;
	background-size: 18px;
	border: none;
	border-radius: 0;
}

.radiobox input[type=radio].css-checkbox + label.css-label {
	float: left;
	display: block;
	width: calc((100% - 20px) / 2);
	min-height: auto;
	height: 34px;
	padding-left: 40px;
	font-size: 12px;
	font-weight: 400;
	line-height: 34px;
	color: #bbb;
	background-repeat: no-repeat;
	background-position: left 20px center;
	background-size: 14px;
	border: 1px solid #B9B9B9;
	border-radius: 4px;
	cursor: pointer;
}

.radiobox input[type=radio].css-checkbox + label.css-label:last-child {
	float: right;
}

.radiobox input[type=radio].css-checkbox:checked + label.css-label {
	background-image: url(../images/icon/icon-radiobox-on.png);
	border-color: #19814A;
	color: #19814A;
}

.radiobox.dblock input[type=radio].css-checkbox:checked + label.css-label {
	color: #333;
}

.radiobox label.css-label{background-image: url(../images/icon/icon-radiobox.png);}

.rememberme {
	float: left;
	margin: 6px 0 0;
}

.checkbox input[type=checkbox].css-checkbox + label.css-label {
	float: left;
	display: block;
	min-height: auto;
	height: 23px;
	margin: 0;
	padding-left: 24px;
	font: 14px/20px Roboto, sans-serif;
	color: #333;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 18px 18px;
	cursor: pointer;
}

.checkbox input[type=checkbox].css-checkbox:checked + label.css-label {background-image: url(../images/icon/icon-checkbox-on.svg);}
.checkbox label.css-label {background-image: url(../images/icon/icon-checkbox.svg);}

.succes_alert {
	float: left;
	margin-top: 12px;
	font: 15px/15px Roboto, sans-serif;
	color: #19814a;
}

.succes_alert i {
	margin-right: 5px;
}

.success_wrapper {
	height: 280px;
	padding: 65px 0;
	background: #1E9B6C;
}

.popup_inner .success_wrapper span.btn_close {
	background-image: url(../images/icon/icon-close-white.svg);
}

.success_wrapper i {
	display: block;
	width: 86px;
	height: 86px;
	margin: 0 auto;
	background: url(../images/icon/icon-success.svg) no-repeat center;
	background-size: 100%;
}

.success_wrapper h4 {
	margin: 20px 0 0;
	font: 16px/1.3 Roboto-Bold, sans-serif;
	color: #fff;
	text-align: center;
}
/* LRPopup End */

/* Breadcrumbs Begin */
.breadcrumbs {
	padding: 20px 0;
}

.breadcrumbs a,
.breadcrumbs span {
	float: left;
	font: 14px/14px Roboto, sans-serif;
	color: rgba(0,0,0,0.85);
}

.breadcrumbs span i {margin: 0 7px;}

.breadcrumbs a:hover {
	text-decoration: underline;
}
/* Breadcrumbs End */

/* Blog Begin */
.blog {
	padding-bottom: 100px;
}

.blog h1 {
	margin: 0 0 20px;
	font: 22px/1 Roboto-Medium, sans-serif;
	color: rgba(0,0,0,0.85);
	text-align: left;
}

.blog article {
	position: relative;
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid rgba(121,121,121,0.15);
}

.blog article:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border: none;
}

.blog article figure img {
	width: 100%;
	border-radius: 5px;
}

.blog article h2.title {
	margin: 15px 0;
	font: 20px/1.2 Roboto-Medium, sans-serif;
	color: rgba(0,0,0,0.85);
}

.blog article p {
	margin: 0;
	font: 15px/24px Roboto, sans-serif;
	color: #707070;
}

.blog article span.date {
	float: left;
	margin-top: 11px;
	font: 14px/16px Roboto, sans-serif;
	color: #B0B0B0;
}

.blog article span.date i {
	margin-right: 6px;
	font-size: 16px;
}

.blog article a.more {
	float: right;
	height: 42px;
	padding: 0 20px;
	font: 15px/42px Roboto, sans-serif;
	color: #fff;
	border-radius: 5px;
	background: #19814a;
	transition: background 600ms ease;
}

.blog article a.more:hover {
	background: #14693b;
}

.blog article .bottom {
	position: absolute;
	bottom: 0;
	right: 10px;
	left: 10px;
}
/* Blog End */

/* Pagination Begin */
.pag {
	position: relative;
	margin-top: 50px;
	text-align: center;
}

.pag ul {
	display: inline-block;
	margin: 0;
}

.pag ul li {
	float: left;
	margin-right: 8px;
}

.pag ul li:last-child {margin: 0;}

.pag ul li,
.pag ul li a {
	display: block;
	min-width: 35px;
	padding: 0 4px;
	font: 16px/33px Roboto-Light, sans-serif;
	color: rgba(0,0,0,0.85);
	text-align: center;
	transition: color 800ms ease;
}

.pag ul li a {
	border: 1px solid rgba(112,112,112,0.85);
	border-radius: 5px;
}

.pag ul li a:hover {color: #19814a;}

.pag ul li.active {
	background: #19814a;
	color: #fff;
	border: 1px solid #19814a;
	border-radius: 5px;
}

.pag ul li.prev,
.pag ul li.prev a,
.pag ul li.next a,
.pag ul li.next {
	min-width: 10px;
	border: none;
}

.pag ul li.dotted {
	min-width: auto;
	padding: 0;
}

.pag ul li.disabled {
	opacity: 0.5;
}
/* Pagination End */

/* Rules Begin */
.rules {
	padding-bottom: 70px;
}

.rules .box {
	margin-bottom: 50px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(121,121,121,0.15);
}

.rules .box:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.rules .box h4.title {
	margin: 0;
	font: 18px/1.2 Roboto-Medium, sans-serif;
	color: rgba(0,0,0,0.85);
}

.rules .box .text {
	margin-top: 20px;
	font: 14px/21px Roboto, sans-serif;
	color: rgba(0,0,0,0.85);
}

.rules .box .text ul {
	padding: 0;
	list-style-position: inside;
}

.rules .box .text ul li {
	margin-bottom: 7px;
	font: 16px/1.2 Roboto-Light, sans-serif;
}
/* Rules */

/* PdfList Begin */
.pdf_list {
	padding-bottom: 40px;
}

.pdf_list article {
	position: relative;
	min-height: 120px;
	margin-bottom: 30px;
	padding: 20px 94px 20px 20px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.10);
}

.pdf_list article:last-child {
	margin-bottom: 0;
}

.pdf_list article p {
	margin: 0;
	font: 20px/27px Roboto, sans-serif;
	color: #707070;
}

.pdf_list article span.pdf {
	display: block;
	width: 120px;
	height: 84px;
	text-align: center;
	position: absolute;
	top: 50%;
	right: 0;
	border-left: 1px solid rgba(112,112,112,0.3);
	transform: translateY(-50%);
}

.pdf_list article span.pdf i {
	display: block;
	width: 60px;
	height: 64px;
	margin: 0 auto 3px;
	background: url(../images/icon/icon-pdf.svg) no-repeat center;
	background-size: 100%;
}

.pdf_list article span.pdf i {
	display: block;
	width: 60px;
	height: 64px;
	margin: 0 auto 3px;
	background: url(../images/icon/icon-pdf.svg) no-repeat center;
	background-size: 100%;
	transition: background 500ms ease;
}

.pdf_list article:hover span.pdf i {
	background-image: url(../images/icon/icon-pdf-hover.svg);
}
/* PdfList End */

/* FAQ Begin */
.faq {
	padding-bottom: 100px;
}

.faq h1 {
	margin: 0 0 20px;
	font: 22px/1 Roboto-Medium, sans-serif;
	color: rgba(0,0,0,0.85);
	text-align: left;
}

.faq .item {
	position: relative;
	margin-bottom: 40px;
}

.faq .item:last-child {
	margin-bottom: 0;
}

.faq .item .head {
	position: relative;
	padding: 20px 130px 20px 30px;
	cursor: pointer;
	background: #fff;
	border-bottom: 1px solid rgba(112,112,112,0.1);
	border-radius: 5px;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
}

.faq .item .head:after {
	content: "";
	display: block;
	width: 1px;
	position: absolute;
	right: 80px;
	top: 12px;
	bottom: 12px;
	transition: 0.3s;
	background: rgba(112,112,112,0.3);
}

.faq .item .head.active i {
	transform: rotate(-180deg);
}

.faq .item .head h2 {
	margin: 0;
	font: 16px/1.1 Roboto-Medium, sans-serif;
	color: #707070;
}

.faq .item .head i {
	font-size: 30px;
	color: rgba(202,209,215,0.5);
	position: absolute;
	top: 50%;
	right: 30px;
	margin-top: -15px;
}

.faq .item .body {
	position: relative;
	display: none;
	padding: 20px 30px;
	font: 16px/22px Roboto-Light, sans-serif;
	color: #43535b;
	z-index: 10;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.1);
}
/* FAQ End */

/* Terminologiya Begin */
.terminologiya {
	padding-bottom: 100px;
}

.letters {
	position: relative;
	float: left;
	width: 100%;
}

.letters a {
	user-select: none;
	float: left;
	margin-right: 20px;
	font: 25px/1 Roboto, sans-serif;
	color: rgba(0,0,0,0.5);
	transition: 500ms ease;
	cursor: pointer;
}

.letters a:hover,
.letters a.active {
	color: rgba(95,187,70,0.6);
}

.terminologiya .list {
	float: left;
	width: 100%;
	margin: 40px 0 0;
	padding: 0;
}

.terminologiya .list li {
	margin-bottom: 30px;
}

.terminologiya .list li:last-child {margin-bottom: 0;}

.terminologiya .list li a:hover {
	color: rgba(95,187,70,0.6);
}

.terminologiya .list li a {
	font: 18px/25px Roboto, sans-serif;
	color: #707070;
	transition: 500ms ease;
}
/* Terminologiya End */

/* SuccessPage Begin */
.success_page {
	padding: 50px 0;
}

.success_page_inner {
	position: relative;
	padding: 100px 50px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.success_page_inner i {
	display: block;
	width: 120px;
	height: 120px;
	margin: 0 auto;
	background: url(../images/icon/icon-success-green.svg) no-repeat center;
	background-size: 100%;
}

.success_page_inner h4 {
	margin: 40px 0 0;
	font: 40px/1 Roboto-Bold, sans-serif;
	color: #333;
	text-align: center;
}

.success_page_inner a {
	display: block;
	width: 190px;
	height: 42px;
	margin: 40px auto 0;
	font: 15px/42px Roboto, sans-serif;
	color: #fff;
	text-align: center;
	background: #19814a;
	border-radius: 5px;
	transition: background 600ms ease;
}

.success_page_inner a:hover {
	background: #14693b;
}
/* SuccessPage End */

/* OfferForm Begin */
.offer_form {
	padding-bottom: 100px;
}

.offer_form_inner {
	padding: 50px 115px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.offer_form_inner .ipt_style {
	display: block;
	width: 100%;
	height: 42px;
	margin-bottom: 20px;
	padding: 0 20px;
	font: 14px/14px Roboto-Light, sans-serif;
	color: rgba(136,152,170,0.8);
	border: 1px solid #CAD1D7;
	border-radius: 4px;
}

.offer_form_inner textarea.ipt_style {
	height: 200px;
	padding: 20px;
	resize: none;
}

.offer_form_inner .ipt_style::-webkit-input-placeholder {color: rgba(136,152,170,0.8);}
.offer_form_inner .ipt_style::-moz-placeholder {color: rgba(136,152,170,0.8);}

.offer_form_inner .radiobox {
	margin: 0;
	padding-top: 4px;
}

.offer_form_inner .radiobox input[type=radio].css-checkbox + label.css-label {
	width: auto;
	border: none;
	margin-right: 30px;
}

.offer_form_inner  button[type="submit"] {
	display: inline-block;
	min-width: 94px;
	height: 42px;
	padding: 0 10px;
	font: 15px/15px Roboto, sans-serif;
	color: #fff;
	background: #19814a;
	border: none;
	border-radius: 5px;
	transition: background 600ms ease;
}

.offer_form_inner  button[type="submit"]:hover {
	background: #14693b;
}
/* OfferForm End */

/* Contact Begin */
.contact {
	padding-bottom: 100px;
}

.contact_info {
	position: relative;
}

.contact h2 {
	margin: 0;
	font: 24px/1 Roboto, sans-serif;
	color: rgba(0,0,0,0.85);
}

.contact_info ul {
	margin: 40px 0 0;
}

.contact_info li {
	margin-bottom: 25px;
	font: 16px/1.2 Roboto, sans-serif;
	color: #707070;
}

.contact_info li i {
	position: relative;
	top: 5px;
	margin-right: 10px;
	font-size: 30px;
	color: #19814A;
}

.contact_form {
	position: relative;
	padding: 40px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.34);
}

.contact_form .ipt_style {
	display: block;
	width: 100%;
	height: 50px;
	margin-bottom: 35px;
	padding: 0 20px;
	font: 14px/14px Roboto-Light, sans-serif;
	color: #8898aa;
	border: 1px solid #E5E5E5;
	border-radius: 4px;
}

.contact_form .ipt_style::-webkit-input-placeholder {color: #8898aa;}
.contact_form .ipt_style::-moz-placeholder {color: #8898aa;}

.contact_form select.ipt_style {
	background: url(../images/arrow/arrow-select.svg) no-repeat right 10px center;
	background-size: 16px;
	cursor: pointer;
}

.contact_form textarea.ipt_style {
	height: 180px;
	padding: 20px;
	resize: none;
}

.contact_form button[type="submit"] {
	float: right;
	display: block;
	min-width: 85px;
	height: 42px;
	padding: 0 5px;
	font: 15px/15px Roboto, sans-serif;
	color: #fff;
	background: #19814a;
	border: none;
	border-radius: 5px;
	transition: background 600ms ease;
}

.contact_form button[type="submit"]:hover {
	background: #14693b;
}

.contact_map {
	position: relative;
	padding: 40px 0 0;
}

#map {
	position: relative;
	height: 500px;
	margin-top: 50px;
	overflow: hidden;
}
/* Contact End */

/* NewsList Begin */
.news_list {
	padding-bottom: 100px;
}

.news_list article {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.news_list article .inner {
	padding: 10px 15px 50px;
}

.news_list article .inner h2 {
	margin: 0;
	font: 16px/1.3 Roboto-Medium, sans-serif;
	color: rgba(0,0,0,0.85);
}

.news_list article .inner h2 a {
	color: rgba(0,0,0,0.85);
	transition: color 600ms ease;
}

.news_list article .inner p {
	margin: 10px 0 0;
	font: 13px/16px Roboto, sans-serif;
	color: #707070;
}

.news_list article .bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 10;
	padding: 0 15px 15px;
}

.news_list article .bottom span.date {
	float: left;
	font: 13px/15px Roboto, sans-serif;
	color: rgba(0,0,0,0.5);
}

.news_list article .bottom span.date i {
	margin-right: 5px;
	font-size: 15px;
	color: rgba(0,0,0,0.25);
}

.news_list article .bottom a {
	float: right;
	font: 13px/15px Roboto, sans-serif;
	color: rgba(0,0,0,0.5);
	transition: color 600ms ease;
}

.news_list article .inner h2 a:hover,
.news_list article .bottom a:hover {
	color: #19814a;
}
/* NewsList End */

/* NewsDetail Begin */
.news_detail {
	padding-bottom: 100px;
}

.news_detail .text {
	font: 13px/19px Roboto, sans-serif;
	color: rgba(0,0,0,0.85);
}

.news_detail .text h1,
.news_detail .text h2,
.news_detail .text h3,
.news_detail .text h4,
.news_detail .text h5,
.news_detail .text h6  {
	font-weight: normal;
	font-family: Roboto-Medium, sans-serif;
}

#newsgallery {
	margin-top: 50px;
}

#newsgallery figure img{
	border-radius: 5px;
}

#newsgallery .owl-nav div {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 30;
	display: block;
	cursor: pointer;
	font-size: 100px;
	line-height: 1;
	color: rgba(0,0,0,0.1);
	transition: color 800ms ease-in;
}

#newsgallery .owl-nav div.owl-prev {left: -50px;}
#newsgallery .owl-nav div.owl-next {right: -50px;}

#newsgallery .owl-nav div:hover {color: #19814a;}
/* NewsDetail End */

/* Favorites Begin */
.favorites {
	padding-bottom: 100px;
}

.empty {
	padding: 50px 0;
}

.empty p {
	margin: 0;
	font: 20px/1 Roboto-Light, sans-serif;
	color: #707070;
	text-align: center;
}

.empty a {
	display: block;
	width: 194px;
	height: 42px;
	margin: 20px auto 0;
	font: 15px/42px Roboto, sans-serif;
	color: #fff;
	text-align: center;
	background: #19814a;
	border-radius: 5px;
	transition: background 600ms ease;
}

.empty a:hover {
	background: #14693b;
}
/* Favorites End */

/* Account Begin */
.account {
	position: relative;
	padding: 20px 0 150px;
}

.profile {
	position: relative;
	height: 250px;
	padding-top: 55px;
	background: #fff;
	border: 1px solid #19814A;
	border-radius: 5px;
}

.profile figure {
	position: relative;
	width: 93px;
	height: 93px;
	margin: 0 auto;
	border-radius: 50%;
}

.profile figure img {
	width: 93px;
	height: 93px;
	border-radius: 50%;
}

.profile figure .fileupload {
	position: absolute;
	right: -6px;
	bottom: -6px;
	z-index: 100;
	overflow: hidden;
	width: 24px;
	height: 24px;
	text-indent: -9999px;
	cursor: pointer;
	background:url(../images/icon/icon-edit-green.svg) no-repeat center;
	background-size: 12px;
}

.profile figure .fileupload input.uploadimage {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 0px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.profile span.name {
	display: block;
	margin-top: 20px;
	font: 17px/1 Roboto, sans-serif;
	color: #333;
	text-align: center;
}

.account_menu {
	overflow: hidden;
	background: #fff;
	border: 1px solid #19814A;
	border-radius: 5px;
}

.account_menu a {
	float: left;
	width: 50%;
	height: 44px;
	font: 17px/44px Roboto, sans-serif;
	color: #19814A;
	text-align: center;
	transition: opacity 0.4s ease;
}

.account_menu a:hover {opacity: 0.7;}
.account_menu a.active {background: #19814a; color: #fff; opacity: 1;}

.account_content {
	position: relative;
	margin-top: 12px;
	padding-bottom: 30px;
}

.account_content_inner {
	position: relative;
	padding: 0 40px;
	background: #fff;
	border: 1px solid #929292;
	border-radius: 5px;
}

.account_content_inner .item {
	padding: 16px 0;
	border-bottom: 1px solid #F2F2F2;
}

.account_content_inner .item:last-child {
	border-bottom: none;
}

.account_content_inner .item span.lbl,
.account_content_inner .item span.val {
	float: left;
	width: 50%;
	font: 14px/14px Roboto, sans-serif;
	color: #333;
}

.account_content_inner .item span.val {
	color: #19814A;
	text-align: right;
}

.account_content_inner .item a.new_password {
	float: right;
	font: 14px/14px Roboto, sans-serif;
	color: #19814A;
	transition: color 600ms ease;
}

.account_content_inner .item a.new_password i {
	margin-right: 5px;
}

.account_content_inner .item a.new_password:hover {
	color: #333;
}

.account_content .btn_edit {
	display: block;
	width: 110px;
	height: 34px;
	margin: 20px auto 0;
	padding: 0 5px;
	font: 13px/13px Roboto, sans-serif;
	color: #fff;
	background: #19814A;
	border: none;
	border-radius: 5px;
	transition: background 600ms ease;
}

.account_content .btn_edit:hover {
	background: #14693b;
}

.account_content .btn_edit i {
	margin-right: 8px;
}

.user_info .ipt_style {
	display: block;
	width: 240px;
	height: 42px;
	margin-bottom: 20px;
	padding: 0 20px;
	font: 13px/13px Roboto-Light, sans-serif;
	color: #333;
	background: none;
	border: 1px solid rgba(51,51,51,0.2);
	border-radius: 4px;
}

.user_info .ipt_style::-webkit-input-placeholder {color: #333;}
.user_info .ipt_style::-moz-placeholder {color: #333;}

.user_info button[type="submit"] {
	display: block;
	min-width: 85px;
	height: 42px;
	padding: 0 15px;
	font: 15px/15px Roboto, sans-serif;
	color: #fff;
	background: #19814a;
	border: none;
	border-radius: 5px;
	transition: background 600ms ease;
}

.user_info button[type="submit"]:hover {
	background: #14693b;
}

.account_tab {
	margin-bottom: 20px;
	border-bottom: 1px solid #ECECEC;
}

.account_tab a {
	float: left;
	margin-right: 80px;
	margin-bottom: -1px;
	padding: 10px 0;
	font: 14px/14px Roboto-Medium, sans-serif;
	color: #333;
	border-bottom: 1px solid transparent;
}

.account_tab a:last-child {
	margin-right: 0;
}

.account_tab a.active {
	border-color: #333;
}
/* Account End */

/* Detail Begin */
.detail {
	padding-bottom: 15px;
}

.detail h1.head_title {
	margin: 0 0 20px;
	font: 24px/1.2 Roboto-Medium, sans-serif;
	color: #333;
}

.detail h1.title {
	margin: 0;
	font: 20px/1.2 Roboto-Bold, sans-serif;
	color: #333;
}

.detail span.product_price {
	display: block;
	margin: 5px 0 0;
	font: 22px/1 Roboto-Bold, sans-serif;
	color: #19814A;
}

.detail ul.info {
	margin: 0;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

.detail ul.info li {
	margin-bottom: 10px;
	font: 13px/1 Roboto, sans-serif;
	color: #333;
	-webkit-column-break-inside: avoid;
	-webkit-backface-visibility: hidden;
}

.detail ul.info li strong {
	font-weight: normal;
	font-family: Roboto-Medium, sans-serif;
}

.detail span.line {
	display: block;
	width: 100%;
	height: 1px;
	margin: 10px 0;
	background: rgba(112,112,112,0.5);
}

.detail p.link_all {
	margin: 0px 0 0;
}

.detail p.link_all a {
	font: 13px/1 Roboto, sans-serif;
	color: #19814a;
	text-decoration: underline;
}

.detail p.link_all a:hover {
	text-decoration: none;
}

.detail .description {
	margin: 10px 0;
}

.detail .description h4 {
	margin: 0;
	font: 14px/1 Roboto-Light, sans-serif;
	color: #333;
}

.detail .description .text {
	margin: 10px 0 0;
	font: 14px/19px Roboto-Light, sans-serif;
	color: #333;
}

.detail .date {
	display: block;
	margin-top: 5px;
	font: 12px/1 Roboto, sans-serif;
	color: #8F8F8F;
}

.detail .bottom {
	margin-top: 10px;
}

.detail span.view {
	float: left;
	margin-right: 50px;
	padding-left: 23px;
	font: 12px/18px Roboto, sans-serif;
	color: #333;
	background: url(../images/icon/icon-view.svg) no-repeat left center;
	background-size: 18px;
}

.detail .add_favorite {
	float: left;
	margin-right: 50px;
	padding: 0 0 0 22px;
	font: 12px/18px Roboto, sans-serif;
	color: #333;
	cursor: pointer;
	background: url(../images/icon/icon-detail-like.svg) no-repeat left center;
	background-size: 16px;
	border: none;
}

.detail .add_favorite.active {
	background-image: url(../images/icon/icon-detail-like-active.svg);
}

.detail .complain_btn {
	float: left;
	padding: 0 0 0 27px;
	font: 12px/18px Roboto, sans-serif;
	color: #333;
	cursor: pointer;
	background: url(../images/icon/icon-complain.svg) no-repeat left center;
	background-size: 18px;
	border: none;
}

.detail .alert_complain {
	float: left;
	font: 14px/20px Roboto-Light, sans-serif;
	color: #951111;
}

.detail .order_btn {
	position: relative;
	top: -9px;
	float: left;
	display: block;
	min-width: 140px;
	height: 42px;
	padding: 0 5px;
	margin-left: 40px;
	font: 15px/15px Roboto, sans-serif;
	color: #fff;
	background: #19814a;
	border: none;
	border-radius: 5px;
	transition: background 600ms ease;
}

.detail .order_btn:hover {
	background: #14693b;
}

.service_action {
	float: left;
	width: 100%;
	margin: 16px 0 0;
}

.service_action li {
	position: relative;
	float: left;
	width: calc((100% - 20px) / 2);
	margin-right: 20px;
	margin-bottom: 10px;
}

.service_action li:nth-child(2n) {
	margin-right: 0;
}

.service_action li button {
	position: relative;
	display: block;
	width: 100%;
	height: 36px;
	z-index: 10;
	padding: 0 10px;
	font: 14px/14px Roboto, sans-serif;
	color: #333;
	cursor: pointer;
	background: #E6E6E6;
	border: none;
	border-radius: 4px;
	transition: background 600ms ease;
}

.service_action li button:hover {
	background: #ABABAB;
}

.service_action li.red button {
	background: #951111;
	color: #fff;
}

.service_action li.red button:hover {
	background: #B10F0F;
}

.service_action li.blue button {
	background: #4267B2;
	color: #fff;
}

.service_action li.blue button:hover {
	background: #3166D2;
}

.service_action li button span {
	margin-left: 5px;
	font-weight: normal;
	font-family: Roboto-Bold, sans-serif;
	font-size: 13px;
}

.service_action li button i {
	position: relative;
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 7px;
	top: 2px;
	background: url(../images/icon/icon-like.svg) no-repeat center;
	background-size: 100%;
}
/* Detail End */

/* AddPost Begin */
.addpost {
	position: relative;
	width: 780px;
	margin: 10px auto 70px;
	padding: 35px 60px;
	background: #fff;
	border: 1px solid #3B3B3B;
	border-radius: 5px;
}

.addpost h1 {
	margin: 0 0 30px;
	font: 22px/1 Roboto-Medium, sans-serif;
	color: rgba(0,0,0,0.85);
	text-align: center;
}

.addpost .form .row {
	margin-bottom: 30px;
}

.addpost .form .lbl {
	display: block;
	margin: 0 0 10px;
	font: 15px/1.1 Roboto, sans-serif;
	color: #333;
}

.addpost .form .ipt_style,
.addpost .form .filename {
	display: block;
	width: 100%;
	height: 48px;
	padding: 0 20px;
	font: 14px/14px Roboto, sans-serif;
	color: #92A1B1;
	background-color: #fff;
	border: 1px solid #3B3B3B;
	border-radius: 5px;
}

.addpost .form .filename {
	line-height: 50px;
}

.addpost .form  select.ipt_style {
	background: #fff url(../images/arrow/arrow-select-down.svg) no-repeat right 10px center;
	background-size: 10px;
	cursor: pointer;
}

.addpost .form  select.ipt_style[disabled] {
	border-color: #D1D1D1;
}

.addpost .form textarea.ipt_style {
	height: 240px;
	resize: none;
	padding: 20px;
}

.addpost .form .price_lbl {
	display: block;
	font: 16px/50px Roboto-Medium, sans-serif;
	color: #000;
}

.addpost .form .fileupload {
	position: relative;
	width: 150px;
	height: 48px;
	overflow: hidden;
	font: 16px/48px Roboto-Bold, sans-serif;
	color: #fff;
	text-align: center;
	cursor: pointer;
	background: #5CB85C;
	border-radius: 5px;
}

.addpost .form .fileupload input.uploadimage {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 0px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

.addpost .radiobox input[type=radio].css-checkbox + label.css-label {
	height: 48px;
	line-height: 46px;
	background-color: #fff;
}

.addpost .form button[type="submit"] {
	float: right;
	display: block;
	min-width: 95px;
	height: 42px;
	padding: 0 5px;
	font: 15px/15px Roboto, sans-serif;
	color: #fff;
	background: #19814a;
	border: none;
	border-radius: 5px;
	transition: background 600ms ease;
}

.addpost .form button[type="submit"]:hover {
	background: #14693b;
}

.conditions {
	float: left;
	margin: 15px 0 0;
}

.addpost_block {
	position: relative;
	margin-bottom: 40px;
	padding: 20px;
	background: #19814A;
}

.addpost_block h4 {
	margin: 0;
	font: 14px/1.2 Roboto-Medium, sans-serif;
	color: #fff;
}

.addpost_block ul {
	margin: 15px 0 0;
	padding: 0 0 0 15px;
}

.addpost_block ul li {
	font: 13px/19px Roboto, sans-serif;
	color: #fff;
}

.addpost_block p {
	margin: 15px 0 0;
	text-align: right;
}

.addpost_block p a {
	font: 14px/14px Roboto-Light, sans-serif;
	color: #fff;
}

.addpost_block p a i {
	margin-left: 6px;
}

.addpost_block p a:hover {
	text-decoration: underline;
}
/* AddPost End */

/* Error404 Begin */
.error404 {
	position: relative;
	padding: 50px 0;
	text-align: center;
}

.error404 span {
	display: block;
	font: 300px/1 Roboto-Medium, sans-serif;
	color: #dcdcdc;
}

.error404 p {
	margin: 10px 0 0;
	font: 25px/1 Roboto-Light, sans-serif;
	color: #333;
}

.error404 a  {
	display: block;
	width: 194px;
	height: 42px;
	margin: 40px auto 0;
	font: 15px/42px Roboto, sans-serif;
	color: #fff;
	text-align: center;
	background: #19814a;
	border-radius: 5px;
}
/* Error404 End */

/* RulesVideo Begin */
.rules_video {
	position: relative;
	padding-bottom: 50px;
}

.rules_video .box {
	position: relative;
	float: left;
	width: 100%;
	border-bottom: 1px solid #19814a;
}

.rules_video figure {
	text-align: center;
}

.rules_video .text {
	position: absolute;
	padding-left: 35px;
	min-height: 65px;
	top: 50%;
	left: 15px;
	right: 15px;
	transform: translateY(-50%);
}

.rules_video .text span.order {
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 65px;
	font: 30px/65px Roboto-Bold, sans-serif;
	color: #19814a;
	border-right: 1px solid #19814a;
}

.rules_video .text h3 {
	margin: 0;
	font: 18px/1.2 Roboto-Medium, sans-serif;
	color: #19814a
}

.rules_video .text p {
	margin: 5px 0 0;
	font: 14px/1.2 Roboto, sans-serif;
	color: #333;
}
/* RulesVideo End */

/* StoreList Begin */
.store_list {
	position: relative;
	padding-bottom: 50px;
}

.store_list.p0 {
	padding: 0;
}

.store_list_head {
	padding: 17px 0;
}

.store_list_head h1 {
	float: left;
	margin: 0;
	font-size: 22px;
	font-weight: 500;
	line-height: 42px;
	color: rgba(0,0,0,0.85);
}

.create_store_btn {
	float: left;
	min-width: 140px;
	height: 42px;
	padding: 0 5px;
	font-size: 15px;
	font-weight: 400;
	line-height: 40px;
	color: #FF6F0E;
	text-align: center;
	background: none;
	border: 1px solid #FF6F0E;
	border-radius: 5px;
	transition: color 600ms ease, background 600ms ease-in-out;
}

.create_store_btn:hover {
	background: #ff6f0e;
	color: #fff;
}

.store_list_head a.get_all {
	float: left;
	margin: 13px 0 0 35px;
	font: 16px/16px Roboto, sans-serif;
	color: #2B95F2;
	text-decoration: underline;
}

.store_list_head a.get_all:hover {
	text-decoration: none;
}

.store_list .box {
	position: relative;
	margin-bottom: 20px;
	overflow: hidden;
	background: #fff;
	border-radius: 5px;
}

.store_list .box figure {
	overflow: hidden;
}

.store_list .box figure img {
	width: 100%;
}

.store_list .box .body {
	position: relative;
}

.store_list .box .body_inner {
	display: table;
	width: 100%;
	min-height: 80px;
	padding: 0 15px;
}

.store_list .box .body_inner h2 {
	margin: 0;
	display: table-cell;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.2;
	color: #333;
	text-align: center;
	vertical-align: middle;
}

.store_list .box .body_inner_inside {
	padding: 20px;
}

.store_list .box .body_inner_inside h2 {
	margin: 0;
	font: 18px/1.2 Roboto-Bold, sans-serif;
	color: #333;
}

.store_list .box .body_inner_inside p {
	margin: 5px 0 0;
	font: 14px/18px Roboto-Light, sans-serif;
	color: #333;
}

.store_list .box .body_inner_inside span.phone {
	display: block;
	margin-top: 5px;
	font: 13px/1 Roboto-Light, sans-serif;
	color: #ABABAB;
}

.store_list .box .body_inner_inside span.phone i {
	margin-right: 8px;
}

.store_list .box .body_inner_inside span.count {
	display: block;
	margin-top: 5px;
	font: 13px/1 Roboto, sans-serif;
	color: #2B95F2;
	text-decoration: underline;
}
/* StoreList End */

.search_result {
	position: relative;
	padding: 25px 0;
	border-bottom: 1px solid rgba(112,112,112,.5);
}

.search_result p {
	margin: 0;
	font: 16px/1.2 Roboto, sans-serif;
	color: rgba(0,0,0,0.85);
	text-align: center;
}

.search_result a {
	display: block;
	width: 150px;
	height: 41px;
	margin: 15px auto 0;
	font: 15px/41px Roboto, sans-serif;
	color: #fff;
	text-align: center;
	background: #5CB85C;
	border-radius: 5px;
	transition: background 500ms ease;
}

.search_result a:hover {
	background: #19814a;
}

.store_detail {
	position: relative;
}

.store_detail .cover {
	position: relative;
}

.store_detail .cover img.img_cover {
	width: 100%
}

.store_info {
	position: relative;
	padding: 30px 10px;
	background: #fff;
}

.store_logo {
	position: absolute;
	left: 50%;
	top: -100px;
	margin-left: -70px;
	width: 140px;
	height: 140px;
	padding: 5px;
	z-index: 10;
	background: #fff;
	border-radius: 50%;
}

.store_info .col {
	position: relative;
	float: left;
	width: 50%;
	padding-left: 40px;
	padding-right: 40px;
}

.store_info .col:last-child:after {
	content: "";
	display: block;
	width: 1px;
	height: 76px;
	background: #D1ECFF;
	position: absolute;
	top: 20px;
	left: 0;
}

.store_info .col h1 {
	margin: 0;
	font: 18px/1.1 Roboto-Bold, sans-serif;
	color: #333;
}

.store_info .col p.desc {
	margin: 5px 0 0;
	font: 14px/19px Roboto-Light, sans-serif;
	color: #333;
}

.store_info .col span.view {
	display: block;
	margin-top: 10px;
	padding-left: 22px;
	font: 14px/1 Roboto-Light, sans-serif;
	color: #333;
	background: url(../images/icon/icon-view-green.svg) no-repeat left center;
	background-size: 18px;
}

.store_info .col ul {
	margin: 10px 0 0;
}

.store_info .col ul li {
	margin-bottom: 15px;
	font: 14px/1 Roboto, sans-serif;
	color: #333;
}

.store_info .col ul li i {
	margin-right: 7px;
	color: #19814A;
}

.store_info .col ul li:last-child {margin-bottom: 0;}

.store_menu {
	margin-top: 40px;
	margin-bottom: 15px;
	padding: 25px 20px;
	background: #fff;
	border: 1px solid #2B95F2;
	border-radius: 5px;
}

.store_menu a {
	float: left;
	margin-right: 50px;
	font: 14px/14px Roboto-Medium, sans-serif;
	color: #2B95F2;
}

.store_menu a:last-child {
	margin-right: 0;
}

.mobile_category {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 100vh;
	z-index: 99999;
	background: #fff;
	transform: scale(0.8,0.8);
	opacity: 0;
	visibility: hidden;
	transition: 0.5s ease;
}

.mobile_category.show {
	opacity: 1;
	visibility: visible;
	transform: scale(1,1);
}

.mobile_category_head {
	position: relative;
	height: 50px;
}

.mobile_category_head span.close_panel {
	position: absolute;
	top: 15px;
	right: 15px;
	display: block;
	width: 24px;
	height: 24px;
	cursor: pointer;
	opacity: 1;
	background: url(../images/icon/icon-close.svg) no-repeat center;
	background-position: center;
}

.mobile_category_body {
	position: relative;
	height: calc(100vh - 50px);
	overflow-y: auto;
}

.mobile_category_body ul {
	margin: 0;
}

.mobile_category_body>ul>li>a {
	display: block;
	width: 100%;
	min-height: 50px;
	padding: 0 30px;
	font: 14px/50px Roboto-Bold, sans-serif;
	color: #19814A;
	background-repeat: no-repeat;
	background-position: right 25px center;
	background-size: 12px;
	transition: color 500ms ease, background 400ms ease;
}

.mobile_category_body>ul>li.submenu>a {
	background-image: url(../images/arrow/arrow-select-down.svg);
}

.mobile_category_body>ul>li>a.active {
	background-color: #19814A;
	background-image: url(../images/arrow/arrow-up-white.svg);
	color: #fff;
}

.mobile_category_body>ul>li>ul {
	display: none;
}

.mobile_category_body>ul>li>ul li {
	margin-bottom: 1px;
}

.mobile_category_body>ul>li>ul li a {
	display: flex;
	justify-content: space-between;
	min-height: 50px;
	padding: 0 30px;
	font: 14px/50px Roboto, sans-serif;
	color: #333;
	background: #F2F2F2;
}

.mobile_category_body>ul>li>ul li a .count {
	float: right;
	color: #19814A;
}

.mobile_category_body>ul>li.submenu li.sub:first-child {
	border-top: 1px solid #fff;
}

.mobile_category_body>ul>li.submenu li.sub>a {
	background-color: #51B27F;
	background-position: right 25px center;
	background-repeat: no-repeat;
	background-image: url(../images/arrow/arrow-down-white.svg);
	font-family: Roboto-Bold, sans-serif;
	color: #fff;
}

.mobile_category_body>ul>li.submenu li.sub ul {
	display: none;
}

.mobile_category_body>ul>li.submenu li.sub>a.active {
	background-image: url(../images/arrow/arrow-up-white.svg);
}



.has-error .ipt_style, .error-field {
	border-color: #a94442 !important;
}

.help-block-error {
	color: #a94442 !important;
}

.dropzone{
	padding: 0 !important;
	border: none !important;
	min-height: 5px !important;
}

.dropzone .dz-message{
	margin:0 !important;
}

.dropzone .dz-size, .dropzone .dz-filename{
	display:none;
}

.confirm-rules {
	float: left;
	font: 14px/14px Roboto, sans-serif;
}

/* BgBanner Begin */
.bg_banner {
	position: absolute;
	top: 273px;
	z-index: 10;
	width: calc((100vw - 970px) / 2);
	height: 100vh;
	overflow: hidden;
}

.bg_banner.left {left: 0;}
.bg_banner.right {right: 0;}

.bg_banner.fixed {
	position: fixed;
	top: 0!important;
	height: 100vh;
}

.bg_banner iframe {
	width: 520px;
	height: 100%;
	min-width: 520px;
}

.bg_banner_inner {
	width: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	height: 100%;
	display: flex;
}
.bg_banner.left .bg_banner_inner {
	right: 0;
	justify-content: flex-end;
}
.bg_banner.right .bg_banner_inner {
	left: 0;
}
.bg_banner.right.same iframe{
	width: 1040px;
	margin-left: -520px;
}
.bg_banner a{
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	top: 0;
	left: 0;
	z-index: 2;
}

.fixed_bottom_btn {
	position: fixed;
	left: 50%;
	bottom: 35px;
	transform: translateX(-50%);
	z-index: 999;
	display: none;
	width: 174px;
	height: 41px;
	padding-left: 44px;
	font: 14px/41px Roboto, sans-serif;
	color: #fff;
	background: #19814A;
	background: #19814A url(../images/icon/icon-plus-white.svg) no-repeat left 15px center;
	border-radius: 5px;
	box-shadow: 2px 4px 5px 0px rgba(25,129,74,0.5);
}

.fixed_bottom_btn:hover {
	color: #fff;
}

.bg_bannerv2{
	position:absolute;
	opacity: 0;
	height: 100%;
}
.bg_bannerv2.show{
	opacity: 1;
}
@media (max-width: 961px) {
	.bg_bannerv2 {
		display: none !important;
	}
}
.bg_bannerv2 iframe{
	height: 100%;
	width: 100%;
}
.left_banner{
	right: 50%;
	margin-right: 480px;
}
.right_banner{
	left: 50%;
	margin-left: 480px;
}

/* store page header */
.store_header{
	background: #fff;
	padding: 22px 30px 30px;
	margin-bottom: 30px;
	margin-top: 20px;
}
.store_header .title{
	color: #333333;
	font-size: 18px;
	line-height: 22px;
	font-family: Roboto-Bold, sans-serif;
	padding:10px 0 5px;
	margin: 0;
}
.store_header .desc{
	color: #333333;
	font-size: 14px;
	font-family: Roboto-Light, sans-serif;
	line-height: 20px;
	padding-bottom: 6px;
}
.store_header .icon{
	display: flex;
	align-items: center;
	font-size: 14px;
	font-family: Roboto, sans-serif;
	padding-bottom: 13px;
	line-height: 20px;
}
.store_header .icon:before{
	content: "";
	display: flex;
	width: 26px;
	height: 14px;
	background-position: left center;
	background-repeat: no-repeat;
}
.store_header .icon.view{
	font-family: Roboto-Light, sans-serif;
}
.store_header .icon.view:before{
	background-image: url("/images/icon/icon-view-green.svg");
	background-size: 18.06px auto;
}
.store_header .icon.map:before{
	background-image: url("/images/icon/map-marker2.svg");
	background-size: 9.84px auto;
}
.store_header .icon.phone:before{
	background-image: url("/images/icon/phone.svg");
	background-size: 13.81px auto;
}
.store_header .icon.clock:before{
	background-image: url("/images/icon/clock.svg");
	background-size: 13.48px auto;
}
.store_header .cntct_info{
	padding-top: 25px;
}
.store_header .row2{
	padding-top: 20px;
	padding-bottom: 30px;
}
.store_header .store_ads{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 41px;
	border-radius: 5px;
	border: 1px solid #19814A;
	color: #19814A;
	font-size: 14px;
	font-family: Roboto, sans-serif;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11);
	text-decoration: none;
}
.store_header .store_slogan{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 41px;
	border-radius: 5px;
	border: 1px solid #19814A;
	background: #EEF8FF;
	color: #19814A;
	font-size: 15px;
	font-family: Roboto-Medium, sans-serif;
}
.store_header .store_slogan:before,.store_header .store_slogan:after{
	content: "";
	width: 6px;
	height: 6px;
	display: block;
	border-radius: 50%;
	margin: 0 6px;
	background: #19814A;
}
.store_header .our_ads .owl-prev,.store_header .our_ads .owl-next, .store_carousel .owl-prev,.store_carousel .owl-next{
	position: absolute;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	top: 50%;
	margin-top: -14px;
	background: #19814A;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
}
.store_header .our_ads .owl-prev,.store_carousel .owl-prev{
	left: 10px;
}
.store_header .our_ads .owl-next,.store_carousel .owl-next{
	right: 10px;
}
.store_carousel{
	padding: 0 26px 30px;
	background: #fff;
}
@media (max-width: 767px) {
	.store_header{
		margin: 0 -15px 30px;
		padding: 26px 15px 0;
	}
	.store_header .title{
		font-size: 14px;
		line-height: 17px;
		padding-bottom: 10px;
		padding-top: 0;
	}
	.store_header .desc{
		font-size: 13px;
		line-height: 19px;
		padding-bottom: 0;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	.store_header .desc:after{
		content: "...";
	}
	.store_header .store_ads{
		background: #19814A;
		color: #fff;
	}
	.mobile_flex{
		display: flex;
		align-items: center;
	}
	.store_header .row2{
		padding-top: 16px;
	}

}
.download_catalog,.download_catalog:hover{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #5FBB46;
	height: 44px;
	border-radius: 4px;
	color: #FFFFFF;
	margin-top: 40px;
	margin-bottom: 15px;
	cursor: pointer;
	font: 14px/1 Roboto, sans-serif
}
.download_catalog:before{
	content: "";
	display: block;
	width: 18px;
	height: 17px;
	background: url("../images/icon/download.svg") left bottom no-repeat;
	margin-right: 6px;
}
@media (max-width: 767px) {
	.download_catalog,.download_catalog:hover{
		margin: 20px 0;
	}
}
a.whatsapp{
	position: fixed;
	background: #FFFFFF;
	display: inline-flex;
	color: #242526;
	padding: 0 18px;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(50,50,93,.11);
	width: 161px;
	height: 47px;
	z-index: 20;
	right: calc(50% - 470px);
	bottom: 10px;
	font: 14px/16px Roboto-Medium, sans-serif;
	font-weight: 500;
	cursor: pointer;
}
a.whatsapp:before{
	content: "";
	display: block;
	width: 30px;
	height: 30px;
	min-width: 30px;
	background: url("../images/icon/whatsapp.svg") center no-repeat;
	margin-right: 6px;
}
@media (max-width: 767px) {
	a.whatsapp{
		right: 15px;
		overflow: hidden;
		display: block;
		width: 47px!important;
		color: transparent;
	}
	a.whatsapp:before{
		position: absolute;
		left: 8.5px;
		top: 8.5px;
		margin-right: 0;
	}
}
a.gotop{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: #19814A;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: fixed;
	right: calc(50% - 470px);
	bottom: 77px;
	font-size: 16px;
	z-index: 11;
	opacity: 0;
	transition: opacity 600ms ease;
	cursor: pointer;
}
a.gotop.fixed{
	opacity: 1;
}
@media (max-width: 767px) {
	a.gotop{
		right: 22px;
		bottom: 65px;
	}
}